body{
    margin: 0;
    box-sizing: border-box;
}

.form-pages{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.app{
    display: flex;
    justify-content: center;
}
